<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{sample/fragments/head :: headFragment}"></head>
<body>
<header></header>
<div class="d-flex" id="wrapper">
    <!-- nav fragment -->
    <nav th:replace="~{sample/fragments/nav :: navFragment}">
    </nav>
    <!-- nav fragment end -->

    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- header ; control nav and etc -->
        <section th:insert="~{sample/fragments/contentTop :: contentTop}">
        </section>
        <!-- Page content-->
        <form th:action="@{/sample/article}" th:object="${article}" method="post">
            <table>

                <tr>
                    <th scope="row">제목</th>
                    <td ><input type="text" th:field="*{title}" required="required"/></td>
                </tr>
                <tr>
                    <th>작성자</th>
                    <td><input type="text" th:field="*{writer}" required="required"/></td>
                </tr>

                <tr>
                    <th>내용</th>
                    <td><textarea rows="20" cols="70" th:field="*{content}" required="required"></textarea></td>
                </tr>

                <tr>
                    <th>비밀번호</th>
                    <td><input type="text" th:field="*{password}" required="required"/></td>
                </tr>

            </table>

            <a th:href="@{./articles}" class="btn">목록으로</a>
            <button type="submit" class="btn">등록하기</button>
        </form>
    </div>
</div>
</body>
</html>