<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<ul>
		<!-- st is the inner variable of for statements of thymeleaf -->
		<li th:each="dto,st : ${list}">
			[[${st.index}]],[[${st.count}]]----[[${dto}]]</li>
	</ul>
	<hr/>
	<ul>
		<li th:each="dto,st : ${list}" th:if="${dto.sno % 5 ==0}">
			[[${st.index}]],[[${st.count}]]----[[${dto}]]</li>
	</ul>
	<hr/>
	<ul>
		<li th:each="dto,st : ${list}">
			<span th:if="${dto.sno % 5 !=0}" th:text="${'----' + dto.sno}"></span>
			<span th:unless="${dto.sno % 5 != 0}" th:text="${dto.first}"></span>
		</li>
	</ul>
	<hr/>
</body>
</html>