<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>exLayout1</title>
</head>
<body>
<hr>
<h1>Fragment Test ; using fragment1, fragment2</h1>

<div style="border: 1px solid blue">
<th:block th:replace="~{fragments/fragment1}"></th:block>
</div>

<div style="border: 1px solid blue">
<th:block th:replace="~{fragments/fragment2}"></th:block>
</div>

<hr>
<h2>Fragment Test2 ; using subpart of fragment1</h2>

<h3>SubLayout 1 - 1 using part1 of fragment1</h3>
<!-- th:replace means div tag at this page will be replaced by div of fragment which will be inferred -->
<div th:replace="~{/fragments/fragment1 :: fragment1-part1}"></div>

<h3>SubLayout 1 - 2  using part2 of fragment1</h3>
<div th:insert="~{/fragments/fragment1 :: fragment1-part2}"></div>

<h3>SubLayout 1 - 3  using part2 of fragment1 again</h3>
<th:block th:replace="~{/fragments/fragment1 :: fragment1-part2}"></th:block>

<h3>SubLayout 1 - 4  using part4 of fragment1</h3>
<th:block th:replace="~{/fragments/fragment1 :: fragment1-part4}"></th:block>

</body>
</html>