<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="fragment1-part1">
        <h5>SubPart 1 of fragment1</h5>
    </div>
    <div th:fragment="fragment1-part2">
        <h5>SubPart 2 of fragment1</h5>
    </div>
    <div th:fragment="fragment1-part3">
        <h5>SubPart 3 of fragment1</h5>
    </div>
    <div th:fragment="fragment1-part4">
        <h5>SubPart 3 of fragment1</h5>
    </div>
</body>
</html>