<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="navFragment">
    <!-- Side nav bar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light" th:href="@{/sample/index}">Bootstrap : Overview</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3"
               href="/sample/articles">articles</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/sample/article}">when http req is POST <br> Create : add article</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/sample/articles/111}">when http req is GET <br> Read : articleDetail <br> (ex) Id is 111</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/sample/article/111}">when http req is PUT <br> Update : articleDetail <br> (ex) Id is 111</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/sample/articles/111}">when http req is DELETE <br> Delete : articleDetail <br> (ex) Id is 111</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Statistics</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"> ? </a>
        </div>
    </div>

</th:block>
</html>